<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lab.agimaulana.d3ifbooklet">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ViewProjectActivity2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.permission.PARENT_ACTIVITY"
                android:value=".activites.MainActivity"/>
        </activity>

        <activity android:name=".activities.ImageSliderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.permission.PARENT_ACTIVITY"
                android:value=".activites.MainActivity"/>
        </activity>

        <activity android:name=".activities.SettingActivity"
            android:label="@string/pengaturan"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.permission.PARENT_ACTIVITY"
                android:value=".activites.MainActivity"/>
        </activity>

        <activity android:name=".activities.UpdateBookletActivity"
            android:label="@string/pembaruan_data"
            android:parentActivityName=".activities.SettingActivity">
            <meta-data
                android:name="android.permission.PARENT_ACTIVITY"
                android:value=".activites.SettingActivity"/>
        </activity>

        <!--service android:name=".service.ImageDownloaderIntentService"
            android:icon="@mipmap/ic_launcher"
            android:exported="false"
            android:label="Image Downloader"/-->

    </application>

</manifest>